<div class="jumbotron text-center mt-5 bg-dark text-white">
    <h2> <%= event.todoName %></h2>
    <p> <%= event.todoDescription %></p>
    <a href="/events" class="btn btn-light btn-md">Go Back</a>
</div>